@import "tailwindcss";

@theme {
  --color-primary: #ff4b4b;
  --color-primary-hover: #ff2d2d;
  --color-dark-bg: #111111;
  --color-dark-surface: #222222;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark-bg);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
